.input-pass-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
.input-pass-container .normal-size {
    height: 1rem;
}

.input-pass-container .large-size {
    height: 2rem;
}

.input-pass-container .normal {
    width: 100%;
    border: none;
    border-radius: .5rem;
    outline: none;
    padding: .5rem 3rem .5rem .7rem;
    margin: .5rem;
    background-color: var(--two-color);
    color: var(--text-color-one);
    opacity: .9;
}

.input-pass-container .clean {
    width: 100%;
    padding: .5rem;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    color: var(--text-color-one);
    border: none;
    border-bottom: 2px solid var(--tree-color);
}

.input-pass-container input::placeholder {
    color: var(--text-color-one);
    opacity: .4;
}


.input-pass-container .icon-to-input {
    position: absolute;
    right: 1.5rem;
    z-index: 1;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
    background-color: none;

}

.input-pass-container .icon-to-input i {
    font-size: 15pt;
    font-weight: 700;
    opacity: .6;
    animation-name: eraserIconSeach;
    animation-duration: .5s;
    font-weight: 100;
    text-shadow: 2px 0 var(--one--color), -2px 0 var(--one--color), 0 2px var(--one--color), 0 -2px var(--one--color),
        1px 1px var(--one--color), -1px -1px var(--one--color), 1px -1px var(--one--color), -1px 1px var(--one--color);
}