@keyframes slidePage {
  0% {
    width: 0%;
    left: -100%;
  }
}
.lateralbar-container-right, .lateralbar-container-left {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 999;
  min-width: 20rem;
  height: 100%;
  animation-duration: 0.5s;
  animation-name: slidein;
  color: var(--text-color-one);
  background-color: var(--two-color);
}
.lateralbar-container-left {
  left: 0;
}
.lateralbar-container-right {
  right: 0;
}
.lateralbar-closed {
  display: none;
  transition: .5s;
}

.lateralbar-container-left .lateralbar-header, .lateralbar-container-right .lateralbar-header {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  background-color: var(--two-color);
  padding: 10px;
}

.lateralbar-container-left .lateralbar-header i, .lateralbar-container-right .lateralbar-header i {
  font-size: 20pt;
  padding: 5px;
}

.lateralbar-container-left .lateralbar-header i:hover, .lateralbar-container-right .lateralbar-header i:hover {
  background-color: var(--four-color);
  cursor: pointer;
  border-radius: 5px;
}

.lateralbar-container-left .lateralbar-header h1, .lateralbar-container-right .lateralbar-header h1 {
  font-size: 13pt;
  font-weight: 500;
  padding: .5rem;
}

.lateralbar-container-left .lateralbar-content, .lateralbar-container-right .lateralbar-content {
  height: 100%;
  width: 100%;
  padding: 1rem;
}